build/
os-builder.pro.user
os-builder.pro.user
v-build.pro.user
output/*
plugins/system/libtext_lib.so.1.0.0
plugins/system/libtext_lib.so.1.0.0
plugins/system/libio_lib.so.1.0.0
plugins/system/libnavigation_lib.so.1.0.0
system/libs/libio_lib.so.1.0.0
system/libs/libnavigation_lib.so.1.0.0
system/libs/libosx64_lib.so.1.0.0
